@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import '../../node_modules/material-icons/iconfont/material-icons.css';


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

body {
    background-image: url("../images/arenasdecabralesweb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: bisque;
}

/*
header {
    width: 100%;
  }
  
header nav {
    background: #0593b3;
  }
  
  
header nav ul {
    overflow: hidden;
    list-style: none;
  }
  
header nav ul li {
    float: left;
  }
  
header nav ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
  }
  
header nav ul li a:visited {
    color: #fff;
  
  }
    
header nav ul li span {
    margin-right: 10px;
  }
  
header nav ul li a:hover {
    background: #037E8C;
  }
*/


  footer {
    width: 100%;
  }
  
  footer nav {
    background: #0593b3;
  }
  
  
  footer nav ul {
    overflow: hidden;
    list-style: none;
  }
  
  footer nav ul li {
    float: left;
  }
  
  footer nav ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
  }
  
  footer nav ul li a:visited {
    color: #fff;
  
  }
    
  footer nav ul li span {
    margin-right: 10px;
  }
  
  footer nav ul li a:hover {
    background: #037E8C;
  }


.mindex {
    content: "";
  
    width: 100%;
    height: 87vh;

    opacity: 1;
    overflow: auto;
    z-index: 1;
  }
 
.menu_bar {
    display: none;
  }

.titulo {
  font-size: 4rem;
  text-align: center;
}

.pagina {
  display: block;
  justify-content: center;
  align-items: top;

}

.tabla-container {
  margin: 0 auto;
  max-width: 100%;
  overflow-x: auto;
  display: block;
  flex-basis: calc(50% - 10px);
  color: white;
}

table {
  width: 75%;
  border-collapse: collapse;
  margin: 0 auto;
}


th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.cspan {
  color: #fff;
  font-size: 4em;
}
.seccion {
  padding-top: 5vh;
  width: 50%;
  margin: 0 auto;
  color:ghostwhite;
}

section {
  padding-top: 5vh;;
}

img {
  width: 100vh;
}

.logo {
  width: 15vh;
}


.logoF {
  width: 5vh;
}

section p a {
   color: white;
  text-decoration: none;
}


.imagen-container {
  position: relative;
 width: 112.5vh;
  height: 75vh;
  overflow: hidden;
}

.imagen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.imagen.active {
  opacity: 1;
}


contenedor-svg {
  width: 200px;
  height: 200px;
}

.svg {
  width: 100%;
  height: 100%;
  animation: rotacion 4s 3 linear; 
}

@keyframes rotacion {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.imgC {
  width: 25vh;
}

  @media screen and (max-width:800px) {

    .titulo {
      font-size: 3rem;
     
    }
    .cspan {
      
      font-size: 3em;
    }


    img {
      width: 75vh;
    }

    .imgC {
      width: 18.75vh;
    }

    footer nav {
      width: 80%;
      height: 100%;
      left: -100%;
      margin: 0;
      position: fixed;
    }
  
    footer nav ul li {
      display: block;
      float: none;
      border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
  
    .menu_bar {
      display: block;
      width: 100%;
      background: #ccc;
    }
 
    .menu_bar .bt-menu {
      display: block;
      padding: 20px;
      background: #0593b3;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-size: 25px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
 
    .menu_bar span {
      float: left;
      font-size: 40px;
    }
  
    .imagen-container {
      position: relative;
      width: 61.25vh;
      height: 37.5vh;
      overflow: hidden;
    }


  }


  /* Diseño para teléfonos móviles */
@media only screen and (max-width: 480px) {

  .titulo {
    font-size: 3rem;
   
  }
  .cspan {
    
    font-size: 3em;
  }

  img {
    width: 25vh;
  }

  .imgC {
    width: 6.25vh;
  }

  footer nav {
    width: 80%;
    height: 100%;
    left: -100%;
    margin: 0;
    position: fixed;
  }

  footer nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }

  .menu_bar {
    display: block;
    width: 100%;
    background: #ccc;
  }

  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    background: #0593b3;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .menu_bar span {
    float: left;
    font-size: 40px;
  }


  .imagen-container {
    position: relative;
   width: 28.125vh;
    height: 18.75vh;
    overflow: hidden;
  }


  }

  footer {
    color: #fff;
  }

  /* Estili para las tabletas */
  @media only screen and (min-width: 481px) and (max-width: 1024){

    .titulo {
      font-size: 3.6rem;
     
    }
    .cspan {
    
      font-size: 3.6em;
    }

    img {
      width: 90vh;
    }

    .imgC {
      width: 22.5vh;
    }

    .imagen-container {
      position: relative;
     width: 61.25vh;
      height: 37.5vh;
      overflow: hidden;
    }

  }

.imgIndex {
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}
